<nav class="navbar sticky-top navbar-expand-lg" style="background-color: #1ECBE1;">
  <div class="container-fluid">
    <p class="my-2">@Html.ActionLink("Home", "Index", "Home", null, new { @class ="navbar-brand text-light"})</p>
    <div class="navbar-collapse d-flex justify-content-end">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 my-2">
        <li class="nav-item">
          <p>@Html.ActionLink("See All Engineers", "Index", "Engineers", null, new { @class ="text-decoration-none text-light mx-2"})</p>
        </li>
        <li class="nav-item">
          <p>@Html.ActionLink("See All Machines", "Index", "Machines", null, new { @class ="text-decoration-none text-light mx-2"})</p>
        </li>
        <li class="nav-item">
          <p>@Html.ActionLink("Engineers Machine List", "Index", "EngineerMachine", null, new { @class ="text-decoration-none text-light mx-2"})</p>
        </li>
      </ul>
    </div>
  </div>
</nav>