@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class="container">
  <h4 class="text-center my-4">Add a new engineer</h4>
  <hr />
  <div class="d-flex flex-row justify-content-center m-2">
    @using (Html.BeginForm())
    {
      @Html.LabelFor(model => model.Name, null, new { @class ="mx-2"})
      @Html.TextBoxFor(model => model.Name, null, new { @class ="mx-2"})
      <input type="submit" value="Add new engineer" class="btn btn-primary" />
    }
  </div>
  <div class="d-flex flex-row justify-content-center">
    <p>@Html.ActionLink("Show all engineers", "Index")</p>
  </div>
</div>