@{
  Layout = "_Layout";
}

<div class="container">
  <hr />
  <div class="h-100 d-flex flex-column align-items-center">
    <h1 class="text-center my-4">Dr. Sillystringz Factory</h1>
    <p>
      Here you can manage engineers and machines they're licensed to repair! To get started use the navigation bar above!
    </p>
  </div>
  <hr />
</div>